name: python_ci

on:
  pull_request:
    paths:
      - "pramen-py/**"
      - ".github/workflows/python.yml"
  push:
    branches: [ main ]
    paths:
      - "pramen-py/**"
      - ".github/workflows/python.yml"
  workflow_dispatch:

defaults:
  run:
    shell: bash
    working-directory: "./pramen-py"

jobs:
  lint:
    strategy:
      matrix:
        python-version: [ "3.10"]
        os-name: [ ubuntu-22.04 ]
    runs-on: ${{ matrix.os-name }}
    steps:
      - uses: actions/checkout@v6.0.2
      - uses: actions/setup-python@v6.1.0
        with:
          python-version: ${{ matrix.python-version }}
      - name: setup poetry
        # gh api repos/abatilo/actions-poetry/commits/v3.0.2 --jq '.sha'
        uses: abatilo/actions-poetry@65c61eae400c65c9510a584af85138c1ae19bbc0
        with:
          poetry-version: 2.1.3
      - name: install dependencies
        run: make --silent install
      - name: lint
        run: make --silent pre-commit
  test:
    strategy:
      matrix:
        python-version: [ "3.10"]
        os-name: [ ubuntu-22.04 ]
    runs-on: ${{ matrix.os-name }}
    steps:
      - uses: actions/checkout@v6.0.2
      - uses: actions/setup-python@v6.1.0
        with:
          python-version: ${{ matrix.python-version }}
      - name: setup poetry
        # gh api repos/abatilo/actions-poetry/commits/v3.0.2 --jq '.sha'
        uses: abatilo/actions-poetry@65c61eae400c65c9510a584af85138c1ae19bbc0
        with:
          poetry-version: 2.1.3
      - name: install dependencies
        run: make --silent install
      - name: test
        env:
          ENV: ci
        run: make --silent test
