name: ScalaCI

on:
  push:
    branches:
      - "main"
      - "support/*"
    paths:
      - "pramen/**"
      - ".github/workflows/scala.yml"
  pull_request:
    branches:
      - "main"
      - "support/*"
    paths:
      - "pramen/**"
      - ".github/workflows/scala.yml"

jobs:
  build-sbt:
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        scala: [2.11.12, 2.12.20, 2.13.16]
        spark: [2.4.8, 3.3.4, 3.4.4, 3.5.5]
        exclude:
          - scala: 2.11.12
            spark: 3.3.4
          - scala: 2.11.12
            spark: 3.4.4
          - scala: 2.11.12
            spark: 3.5.5
          - scala: 2.12.20
            spark: 2.4.8
          - scala: 2.13.16
            spark: 2.4.8
    name: Test Spark ${{matrix.spark}} on Scala ${{matrix.scala}}
    steps:
      - name: Checkout code
        uses: actions/checkout@v6.0.2
        # gh api repos/coursier/cache-action/commits/v6.4.9 --jq '.sha'
      - uses: coursier/cache-action@4e2615869d13561d626ed48655e1a39e5b192b3c
      - name: Setup JDK and sbt
        uses: actions/setup-java@v4.2.1
        with:
          distribution: temurin
          java-version: 8
          cache: sbt
      - name: Build and run unit tests
        working-directory: ./pramen
        run: sbt ++${{matrix.scala}} unit:test -DSPARK_VERSION=${{matrix.spark}}
      - name: Run integration tests
        working-directory: ./pramen
        run: sbt ++${{matrix.scala}} integration:test -DSPARK_VERSION=${{matrix.spark}}
